.container {
    width: 600px;
    border: 1px solid black;
    margin-top: 40px;
    border-radius: 10px;
}

.col-4 {
    height: 200px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
}

.content {
    border-radius: 20px;
    height: 100%;
    cursor: pointer;
    width: 100%;
    box-shadow: 1px 13px 55px -9px rgba(0, 0, 0, 0.48);
    -webkit-box-shadow: 1px 13px 55px -9px rgba(0, 0, 0, 0.48);
    -moz-box-shadow: 1px 13px 55px -9px rgba(0, 0, 0, 0.48);
}

.content-1 {
    background-color: red;
}

.content-2 {
    background-color: pink;
}

.content-3 {
    background-color: lightsalmon;
}

.content-4 {
    background-color: lightskyblue;
}

.content-5 {
    background-color: lightgreen;
}

.content-6 {
    background-color: lightgoldenrodyellow;
}

.content-7 {
    background-color: mediumseagreen;
}

.content-8 {
    background-color: lightgray;
}

.content-9 {
    background-color: maroon;
}